Source: ccd2iso
Section: otherosfs
Priority: optional
Maintainer: Asheesh Laroia <asheesh@asheesh.org>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf
Standards-Version: 3.9.5
Vcs-Git: https://github.com/paulproteus/ccd2iso-debian.git
Vcs-Browser: https://github.com/paulproteus/ccd2iso-debian

Package: ccd2iso
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Converter from CloneCD disc image format to standard ISO
 This converts CD backup files created using the non-free CloneCD program to a
 format understood by most Free Software CD writing programs.
 .
  Homepage: http://sourceforge.net/projects/ccd2iso/
